@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Inter;
}
body{  
    background-color: #141414;
    display: flex;
    align-items: center ;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    width: 100%;
    padding: 24px;
    padding-top: 50px;
    border-radius: 10px;
    height: 600px;
   
    
}

.container img{
    width: 80px;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 1.25rem;
}
.container h1{
    color: white;
    font-size: 1.5rem;
    text-align: center;

}


.container span{
    color: hsl(75, 94%, 57%) ;
    font-weight:400px ;
    display: block;
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem 0rem 1rem 0rem;
     

}

.container p{
    color: white;
    text-align: center;
}

.buttonsdiv{
    width: 100%;
    
}

.container ul{
    list-style: none;
    display: grid;
    gap: 0.5rem;
    text-align: center;
    margin-top: 2rem;

}

.container ul li button{
    width: 100%;
    padding: 1rem;
    color: rgb(255, 255, 255);
    background-color: #333333;
    border-radius: 10px;
    border-style: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.35s ease-in-out ;
    

}

.container ul li button:hover{
    background-color: hsl(75, 94%, 57%) ;
    color: hsl(0, 0%, 8%)
}






.attribution { 13px;
    text-align: center; 
    }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
